{:kotoba.app/id "cloud.itonami.isic-8130", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiagtkdwvz3utiwwhhus6ojgmsdyiwtndogxqwl3krvhqdxs2hi2jq", :kotoba.app/embed-url "ipfs://bafkreiagtkdwvz3utiwwhhus6ojgmsdyiwtndogxqwl3krvhqdxs2hi2jq", :published {:archive "https://kotobase.net/ipfs/bafkreiagtkdwvz3utiwwhhus6ojgmsdyiwtndogxqwl3krvhqdxs2hi2jq", :size 5265, :put-status 201, :get-status 200, :at "2026-08-15T13:50:57.675Z"}}
